dotenv
langchain_text_splitters
langchain_google_genai
langchain_community
langchain_community
langchain_core
langchain
datetime
google-auth 
google-auth-oauthlib 
google-api-python-client
chromadb
langchain-chroma
tzdata
requests
python-dotenv
beautifulsoup4
TextLoader
unstructured